article{
    margin-top: 50px;
    
}
.article{
    /* border: 2px solid black; */
    width: 110px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
body{
    display: flex;
    justify-content: center;
    background-color: aquamarine;

}
button{
    background-color: bisque;

    
}
section{
    display: flex;
    gap: 5px;
    column-gap: 10px;
    margin-bottom: 5px;

}
.input{
    width: 25px;

}
